Source: deepin-deb-fix
Section: x11
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends: debhelper-compat (= 13),
Standards-Version: 1.0.0
Homepage: http://www.deepin.org/

Package: deepin-deb-fix
Architecture: any
Depends:
Description: Deepin deb fix
 Fix some packages without shebang in startup script
